<div class="change" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-content>
      <h3>Change Password</h3>
      <form [formGroup]="changeFormGroup" fxLayout="column">
        <mat-form-field>
          <input [type]="hide ? 'password' : 'text'" matInput maxlength="30" placeholder="Old Password"
            formControlName="old_password" autocomplete="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngFor="let validation of error_messages.old_password">
            <mat-error class="error-message"
              *ngIf="f.get('old_password').hasError(validation.type) && (f.get('old_password').dirty || f.get('old_password').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input [type]="hiden ? 'password' : 'text'" matInput maxlength="30" placeholder="Password"
            formControlName="password" autocomplete="off" required>
          <mat-icon matSuffix (click)="hiden = !hiden">{{hiden ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngFor="let validation of error_messages.password">
            <mat-error class="error-message"
              *ngIf="f.get('password').hasError(validation.type) && (f.get('password').dirty || f.get('password').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxLayout="column">
          <input [type]="hidec ? 'password' : 'text'" matInput maxlength="30" placeholder="Confirm Password"
            formControlName="confirm_password" autocomplete="off" required>
          <mat-icon matSuffix (click)="hidec = !hidec">{{hidec ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngFor="let validation of error_messages.confirm_password">
            <mat-error class="error-message"
              *ngIf="f.get('confirm_password').hasError(validation.type) && (f.get('confirm_password').dirty || f.get('confirm_password').touched)">
              {{validation.message}}
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-error *ngIf="f.errors?.ismatch && (f.touched || f.dirty)">
          Confirm Password should be same as above New Password!
        </mat-error>
        <div fxLayoutAlign="center center">
          <button [disabled]="!f.valid" (click)="change_password()" mat-raised-button color="accent">Change</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>